# OpenAI secrets
OPENAI_API_KEY = "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"

# Astra DB secrets
ASTRA_API_ENDPOINT = "https://ee0d5e48-60d8-4a39-bbcb-fc1ca97a3b78-us-east1.apps.astra.datastax.com"
ASTRA_TOKEN = "AstraCS:OlPwnplfOMCKQFdiiNaPXrhk:3bd1c5ab491ccc829d55c24ae0c617d466858f3b1f084fb4e1900575c7a6ef30"